<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>哆啦记账-记录你的每一笔消费</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<!-- 引入样式文件 -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.4/lib/index.css">
		<link rel="stylesheet" type="text/css" href="css/base.css" />

		<script type="text/javascript" src="http://duola.vip/hui/diary/js/index.js"></script>
		<script type="text/javascript" src="http://duola.vip/js/myjs/timeDeal.js"></script>
		<script type="text/javascript" src="http://duola.vip/js/myjs/jsutil.js"></script>
		<script type="text/javascript" src="js/animationData.js"></script>

		<link rel="Shortcut Icon" href="http://duola.vip/image/logo/dlam.jpg" />

		<style>
			.van-grid-item__content{padding: 5px 5px;}
			.w_border{border-bottom: none;padding: 15px;}
			.w_cell{padding: 0;}
			.w_date{padding: 10px 15px;}
			.w_top{overflow: hidden;}
			.w_top li{width: 33.333%;float: left;line-height: 1;margin: 15px 0;text-align: center;}
			.w_topp{margin-bottom: 10px;}
			.w_red{color: red;}
			.w_yellow{color: orange;}
		</style>
	</head>
	<body id="bodys">
		<div style="bottom:30px;" id="app" v-cloak>
			<header class="header">
				<div class="header_left" @click="chooseTime()">
					<span>{{selWhich}}</span>
					<van-icon name="arrow-down" />
				</div>
				<div class="header_right">
					<div class="header_img_div">
						<a v-if="user==''" href="login.html">
							请登录
						</a>
						<a v-if="user!=''" href="myHome.html">
							{{userNick}}
							<van-icon :name="'http://www.duola.vip/image/tx/'+headImage+'.jpg'" />
						</a>
					</div>
					<div class="header_fabu">
						<a href="newAcc.html">
							<van-icon name="add-o" />
							<span style="">记一笔</span>
						</a>
					</div>
				</div>
			</header>
			
			<ul class="w_top main_top">
				<li><p class="w_topp">支出</p><p>-{{allOut}}</p></li>
				<li><p class="w_topp">收入</p><p class="w_red">+{{allIn}}</p></li>
				<li><p class="w_topp">结余</p><p class="w_yellow">{{allRest}}</p></li>
			</ul>

			<div id="container"></div>
			<div id="container1"></div>
			<!-- 结束 -->
			<van-list v-model="loading" :finished="finished" offset="10">
				<van-cell class="w_cell" v-for="(bill,i) in billInfo" />
				<div class="flex add002 w_border" style="margin-left:30px;background:orange;">
					<div class="flex_left">
						方式：<span style="bottom:12px;font-size: 12px;color: #737373;">{{bill.payutil}}</span>
					</div>
					<div class="flex_right">
						<div class="list_top">
							<p>时间：<span style="font-size: 12px;color: #737373;">{{bill.time}}</span>&emsp;{{bill.remark}}
								<span class="right">￥{{bill.amount}}</span>
							</p>
							<!--<span style="font-size: 12px;color: #737373;">用户：{{ mainData.userId }}</span>&emsp; -->
						</div>
					</div>
				</div>
			</van-list>
			<van-list v-model="loading" :finished="finished" offset="10">
				<van-cell class="w_cell" v-for="(cate,i) in cateInfo" />
				<div class="flex add002 w_border" style="margin-left:30px;background:pink;">
					<div class="flex_left">
						分类：<span style="bottom:12px;font-size: 12px;color: #737373;"  @click="loadBill(cate.cate)">{{cate.cate}}</span>
					</div>
					<div class="flex_right">
						<div class="list_top">
							<p>金额：<span style="font-size: 12px;color: #737373;">{{cate.amount}}</span>&emsp;
								<span class="right">百分比：<span style="font-size: 12px;color: #737373;margin-right:50px;">{{cate.percent}}</span></span>
							</p>
							<!--<span style="font-size: 12px;color: #737373;">用户：{{ mainData.userId }}</span>&emsp; -->
						</div>
					</div>
				</div>
			</van-list>
			<!-- 结束 -->
			<van-list v-model="loading" :finished="finished" offset="10">
				<van-cell class="w_cell" v-for="(mainData,index) in contentData" />
				<div >
					<div class="w_date" style="height:20px;background:#f8f8f8;width:100%"><span>{{mainData.yom}}</span></div>
				</div>
				<div class="flex add002 w_border" style="">
					<a :href="'accList.html?mon='+mainData.yom"></a>
					<div class="flex_left">
						<!--<img src='http://www.duola.vip/duola/images/head.jpg' style='width:30px;height:30px;'><span style="bottom:12px;">{{mainData.cate.substring(0,1)}}</span>-->
						<span @click="loadCate(0,mainData.yom)">支出：<span style="bottom:12px;font-size: 12px;color: #737373;">{{mainData.out}}</span></span>
					</div>
					<div class="flex_right">
						<div class="list_top">
							<p><span @click="loadCate(1,mainData.yom)">收入：<span style="font-size: 12px;color: #737373;">{{mainData.in_}}</span></span>&emsp;
								<span class="right">结余：￥<span style="font-size: 12px;color: #737373;">{{mainData.earn}}</span></span>
							</p>
							<!--<span style="font-size: 12px;color: #737373;">用户：{{ mainData.userId }}</span>&emsp; -->
						</div>
					</div>
				</div>
				
			</van-list>
			<van-popup v-model="show" position="bottom">
				<van-datetime-picker v-model="currentDate" type="year-month" visible-item-count="4" :show-toolbar=true :formatter="formatter" :min-date="minDate"
				:max-date="maxDate"
				 @change="changeMon" @confirm="changeMon" @cancel="cancel" />
			</van-popup>
			<van-action-sheet v-model="selshow" :actions="actions"  @select="onSelect" />
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
		<script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vant@2.4/lib/vant.min.js"></script>
		<script type="text/javascript" src="http://www.duola.vip/js/highcharts.js"></script>
		<script>
			var user = "";
			user = getCookie("userId") + "";
			var userNick = decodeURI(decodeURI(getCookie("userNick") + ""));
			var au = "0,2";
			var index = Math.floor(Math.random() * 100);
			if (user) {
				au = "0,2";
				if (index > 30) { //百分之七十的概率
					vant.Toast(userNick + "," + toastText())
				} else {
					vant.Toast(userNick + ",欢迎你回来")
				}
			} else {
				if (index > 70) { //百分之三十的概率
					vant.Toast("欢迎注册," + toastText())
				} else {
					vant.Toast("请登录后使用更多功能")
				}
				var body = document.getElementById("bodys");
				body.style.background = "url(http://www.duola.vip/res/images/back/back11.png)";
			}
			var audios = []; //已加载出的所有音频日记的音频
			var indexId = -1; //被播放的音频在日记列表中的序号
			var nowplay = 0;
			var app = new Vue({
				el: '#app',
				data: {
					headImage: '',
					unreadNum: 0,
					actions: [{id:'year',name:'按年'},{id:'month',name:'按月'}],
					show: false,
					loading: false,
					finished: true,
					page: 1,
					contentData: [],
					cateInfo: [],
					billInfo:[],
					year:'',
					user: user,

					currentDate: new Date(),
					chooseMon: '2020-03',
					minDate:new Date('2010-01'),
					maxDate:new Date(),

					yom: 'year', 
					selshow: false,
					selWhich: '按年',
					allIn: 0, //总收入
					allOut: 0, //总支出
					allRest: 0 //总结余
				},
				created: function() {
					//if(!user){//2020-04-19 
					//	vant.Toast('请先登录后方可查看账单');
					//	setTimeout(function(){ window.location="http://www.duola.vip/duola/register.html"; }, 2000);
					//	return;
					//}
					
					//month  year
					axios.get('http://www.duola.vip/getAmountByYoM.do?yom=year')
					.then(function(response) {
						console.log('加载数据');
						var tempData = [];
						var num=response.data.length;
						var allIn=0;
						var allOut=0;
						var allRest=0;
						var mons=[],ins=[],outs=[],rests=[];//要显示到图标中的
						
						for(var i=0;i<num;i++){
							tempData[i]=response.data[num-i-1];
							allIn=allIn+parseFloat(tempData[i].in_);
							allOut=allOut+parseFloat(tempData[i].out);
							allRest=allRest+parseFloat(tempData[i].earn);
							
							mons.push(tempData[i].yom);
							ins.push(parseFloat(tempData[i].in_));
							outs.push(parseFloat(tempData[i].out));
							rests.push(parseFloat(tempData[i].earn));
						}
						console.log(ins)
						console.log(outs)
						console.log(rests)
						mons=mons.reverse();
						ins=ins.reverse();
						outs=outs.reverse();
						rests=rests.reverse();
						loadLineChart(mons,ins,outs,rests);
						loadBarChart(mons,ins,outs,rests);
						console.log(tempData);
						app.allIn=allIn;
						app.allOut=allOut;
						app.allRest=allRest;
						app.contentData.push(...tempData);

					})
					.catch(function(error) {
						//console.log(error);
					});

					axios.get('http://www.duola.vip/note/userinfo/getAuthorInfoByUserId.do?UUserId=' + user)
					.then(function(response) {
						console.log(response.data);
						if (response.data.code == 200) {
							var userData = response.data.result;
							app.headImage = userData.headImage;
							var body = document.getElementById("bodys");
							body.style.background = "url(http://www.duola.vip/res/images/back/" + userData.mback + ")";
						}
					})
					.catch(function(error) {
						console.log(error);
					})
				},
				methods: {
					loadBill(which){
						axios.get('http://www.duola.vip/queryBillBy.do?payutil=&category='+which+'&in_out=&key=&time='+app.year)
						.then(function(response) {
							console.log('加载数据');
							app.billInfo = response.data;

						})
						.catch(function(error) {
							//console.log(error);
						});
					
					},
					loadCate(which,time){
						app.year=time;
						if(which==0){
							which="支出";
						}else{
							which="收入";
						}
						axios.get('http://www.duola.vip/getCateByYom.do?ioo='+which+'&d='+time)
						.then(function(response) {
							console.log('加载数据');
							app.cateInfo = response.data;
							

						})
						.catch(function(error) {
							//console.log(error);
						});
					
					},
					onSelect(item) {
				      // 默认情况下点击选项时不会自动收起
				      // 可以通过 close-on-click-action 属性开启自动收起
				      this.selshow = false;
					  this.selWhich=item.name;
					  this.yom=item.id;
					  app.contentData=[];
					  vant.Toast("稍等一下，数据马上就出来啦")
					  axios.get('http://www.duola.vip/getAmountByYoM.do?yom='+this.yom)
					.then(function(response) {
						console.log('加载数据');
						var tempData = [];
						var num=response.data.length;
						var allIn=0;
						var allOut=0;
						var allRest=0;
						for(var i=0;i<num;i++){
							tempData[i]=response.data[num-i-1];
							allIn=allIn+parseFloat(tempData[i].in_);
							allOut=allOut+parseFloat(tempData[i].out);
							allRest=allRest+parseFloat(tempData[i].earn);
						}
						console.log(tempData);
						app.allIn=allIn;
						app.allOut=allOut;
						app.allRest=allRest;
						app.contentData=[];
						app.contentData.push(...tempData);

					})
					.catch(function(error) {
						//console.log(error);
					});
					},chooseTime: function() {
						
						app.selshow = true;
					}, // 选项格式化函数
					formatter(type, value) {
						if (type === 'year') {
							return `${value}年`
						} else if (type === 'month') {
							return `${value}月`
						} else if (type === 'day') {
							return `${value}日`
						} else if (type === 'hour') {
							return `${value}时`
						} else if (type === 'minute') {
							return `${value}分`
						} else if (type === 'second') {
							return `${value}秒`
						}
						return value
					},
					changeMon: function(val) {
						let year = val.getFullYear()
						let month = addZero(val.getMonth() + 1)
						let day = val.getDate()
						let hour = val.getHours()
						let minute = val.getMinutes()
						console.log(year + '-' + month)
						app.monRest = 0;
						app.monIn = 0;
						app.monOut = 0;
						let t = year + '-' + month;
						app.chooseMon = t;
						axios.get('http://www.duola.vip/queryBillsBy.do?userId='+user+'&month=' + t)
							.then(function(response) {
								console.log('加载数据');
								var tempData = response.data.result;
								for (var i = 0; i < tempData.length; i++) {
									if (tempData[i].in_out == '支出') {
										tempData[i].amount = -tempData[i].amount;
										app.monOut = app.monOut + tempData[i].amount;
									} else {
										app.monIn = app.monIn + tempData[i].amount;
									}
									tempData[i].day = formatDay((tempData[i].time + "").substring(0, 10));
									tempData[i].time = (tempData[i].time + "").substring(11);
									if (tempData[i].remark == "")
										tempData[i].remark = tempData[i].cate;
								}
								app.monOut = parseDouble(app.monOut)
								app.monIn = parseDouble(app.monIn)
								app.monRest = parseDouble(app.monIn - (-app.monOut))
								console.log(tempData);
								app.contentData = [];
								app.contentData.push(...tempData);
							})
							.catch(function(error) {
								//console.log(error);
							});
						app.show = false;
					},
					cancel() {
						app.show = false;
					}
				}
			});

			function addZero(val) {
				if (val < 10) {
					return "0" + val;
				} else {
					return val;
				}
			}

			function delZero(val) {
				if (val > 10) {
					return (val + "").substring(1, 2);
				} else {
					return val;
				}
			}
			//2020-04-19转换为2020年4月19日
			function formatDay(day) {
				var year = day.substring(0, 3);
				var mon = day.substring(5, 7);
				var d = day.substring(8, 11);

				return mon + "月" + d + "日";
			}

			function parseDouble(num) {
				var n = num + "";
				if (n.indexOf(".") != -1) {
					n = n.substring(0, n.indexOf(".") + 3);
				}
				return n;
			}

			function toastText() {
				var date = new Date();
				var hour = date.getHours();
				var minute = date.getMinutes();
				var text = '';
				if (hour >= 6 && hour < 9) {
					text = getRandomText(helloText01);
				} else if (hour >= 9 && hour < 12) {
					text = getRandomText(helloText02);
				} else if (hour >= 12 && hour < 13) {
					text = getRandomText(helloText03);
				} else if (hour == 13 && minute < 30) {
					text = getRandomText(helloText04);
				} else if (hour >= 13 && hour < 18) {
					text = getRandomText(helloText05);
				} else if (hour >= 18 && hour < 20) {
					text = getRandomText(helloText06);
				} else if (hour >= 20 && hour < 23) {
					text = getRandomText(helloText07);
				} else if (hour >= 23 || hour < 3) {
					text = getRandomText(helloText08);
				} else if (hour >= 3 && hour < 6) {
					text = getRandomText(helloText09);
				} else {
					text = '欢迎你回来'
				}
				return text;
			}

			function getRandomText(textArray) {
				var index = Math.floor(Math.random() * textArray.length);
				return textArray[index]
			}
			//www.zy52113.com
			function loadLineChart(mons,ins,outs,rests){
				Highcharts.chart('container', {
				    title: {
				        text: '账单统计-线性图'
				    },
				
				    subtitle: {
				        text: '数据来源: www.duola.vip'
				    },
				    xAxis: {
			            categories: mons//转化为数组
			        },

				    yAxis: {
				        title: {
				            text: '总金额'
				        }
				    },
				    legend: {
				        layout: 'vertical',
				        align: 'right',
				        verticalAlign: 'middle'
				    },
				
				    /* plotOptions: {
				        series: {
				            label: {
				                connectorAllowed: false
				            },
				            pointStart: 1
				        }
				    },
				 */
				    series: [{
				        name: '总收入金额',
				        data: ins
				    },{
				        name: '总支出金额',
				        data: outs
				    },{
				        name: '净收金额',
				        data: rests
				    }],
				
				    responsive: {
				        rules: [{
				            condition: {
				                maxWidth: 500
				            },
				            chartOptions: {
				                legend: {
				                    layout: 'horizontal',
				                    align: 'center',
				                    verticalAlign: 'bottom'
				                }
				            }
				        }]
				    }
				
				});
			}
			function loadBarChart(mons,ins,outs,rests){
				Highcharts.chart('container1', {
					title: {
						text: '账单统计-条形图/柱状图'
					},
					subtitle: {
						text: '数据来源：www.duola.vip'
					},
					xAxis: {
						categories: mons
					},
					yAxis: {
						title: {
							text: '金额'
						}
					},
					series: [{
						name:'总收入金额',
						type: 'column',
						colorByPoint: true,
						data: ins,
						showInLegend: false
					},{
						name:'总支出金额',
						type: 'column',
						colorByPoint: true,
						data: outs,
						showInLegend: false
					},{
						name:'净收金额',
						type: 'column',
						colorByPoint: true,
						data: rests,
						showInLegend: false
					}]
				
				});
			}
		</script>
	</body>
</html>
