<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>评论我的</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!-- 引入样式文件 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.4/lib/index.css">
	<link rel="stylesheet" type="text/css" href="css/base.css"/>
	<script type="text/javascript" src="http://duola.vip/js/myjs/timeDeal.js"></script>
</head>
<body>
<div id="app" v-cloak>
	<ul class="user_list">
		<p class="null_tip" v-if="comData.length == 0">无数据！</p>
		<li v-for="item in comData">
			<a>
			<div class="user_list_left" style="display: flex;">
				<img style="width: 55px!important;height: 55px!important" class="userinfo_img w45" :src="'http://www.duola.vip/image/tx/'+item.headImg+'.jpg'" >
				<div style="flex: 1;margin-left: 8px">
					<p class="zan_name">
						<span>{{item.viewerName}}</span><span style="float:right;font-size:11px;">{{item.reviewTime}}</span>
					</p>
					<p class="zan_juli">我的日记&emsp;{{item.diaryTitle}}</p>
					<p class="zan_juli">{{item.reviewCon}}</p>
				</div>
			</div>
			<p style="">
				<img v-if="item.is_image==1" style="height: 60px;width: 60px" :src="item.file_url" >
			</p>
			</a>
		</li>
		
	</ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.4/lib/vant.min.js"></script>
<script>
	var app=new Vue({
		el:'#app',
		data:{
			comData:[]
		},
		created:function(){
			console.log('开始请求数据');
			var author=getQueryString('author');
			axios.get('http://www.duola.vip/note/comment/getMyMessage.do?userId=' + author )
			.then(function (response) {
				console.log(response.data);
				if (response.data.code==200) {
					var comData=response.data.result;
					app.comData=comData;
					for(var i=0;i<comData.length;i++){
						var title=comData[i].diaryTitle;
						if(title.length>20){
							comData[i].diaryTitle=title.substring(0,20)+"...";
						}
						comData[i].reviewTime=handleTime(comData[i].reviewTime);
					}
				}
			})
			.catch(function (error) {
				console.log(error);
			})
		}
	})
	function getQueryString(name) {
	        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
	        var r = window.location.search.substr(1).match(reg); 
	        if (r != null) return unescape(r[2]); 
	        return null; 
	    }
</script>
</body>
</html>