<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>我喜欢的</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!-- 引入样式文件 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.4/lib/index.css">
	<link rel="stylesheet" type="text/css" href="css/base.css"/>
</head>
<body>
<div id="app" v-cloak>
	<ul class="user_list">
		<p class="null_tip" v-if="zanData.length == 0">无数据！</p>
		
		<van-list
			  v-model="loading"
			  :finished="finished"
				:finished-text="finishedText"
			  @load="onLoad"
			>
			<van-cell v-for="(item,index) in zanData"  />
			<div class="flex_left">
				<a :href="'author.html?author='+item.writter">	
					<img :src="'http://www.duola.vip/image/tx/'+item.headImg+'.jpg'" >
				</a>
			</div>
			<div class="flex_right">
				<div class="list_top">
					<p>{{item.title}}&emsp;<span style="font-size: 12px;color: #737373;">{{item.loc}}</span>
						<span class="right"><a @click="alertMenu(0)"><img width="16px" src="images/dian.png"></a></span>
					</p>
					<span style="font-size: 12px;color: #737373;">作者：{{ item.u_User_Name }}</span>&emsp;<span style="font-size: 12px;color: #737373;float:right">时间：{{item.time}}</span>
				</div>
				<div class="list_main">
					<p class="ellipsis8 mb10">{{item.content}}</p>
					<!-- <p style="color: #354FC0;font-size: 12px;margin-bottom: 5px;">他评论过您发布的话题</p> -->
					<div v-if="11==10" class="list_media">
						<van-grid :border="false" :column-num="3">
						  <van-grid-item v-for="(item,index) in mainData.file_url">
							  <!-- <span>{{mainData.is_image}}</span> -->
							<van-image  @click="yulanImg(index,item)" height="93" :src="item" />
						  </van-grid-item>
						</van-grid>
					</div>
					<van-row>
					  <van-col span="3"><p style="text-align: left;"><img src="http://www.duola.vip/res/images/weather_sun.png" ><span></span></p></van-col>
					  <van-col span="4"><p style="text-align: left;"><img src="http://www.duola.vip/res/images/cup.png" ><span></span></p></van-col>
					  <van-col span="6"><p style="text-align: left;"><img  src="http://www.duola.vip/res/images/flag_catalonia.png" ><span style="">{{item.cate}}</span></p></van-col>
					  <van-col span="2"></van-col>

					  <van-col span="3"><p style="text-align: center;"><img src="http://blog.duola.vip/images/useful/view.png" ><span>{{item.visitNum}}</span></p></van-col>
					  <van-col span="3"><p style="text-align: center;"><img src="http://m.lianzhigou.cn/public/images/pinlun.png" ><span>{{item.commentNum}}</span></p></van-col>
					  <van-col span="3"><p style="text-align: right;"><img  src="http://m.lianzhigou.cn/public/images/good.png" ><span style="">{{item.praiseNum}}</span></p></van-col>
					</van-row>
				</div>
			</div>
		</van-list>
	</ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.4/lib/vant.min.js"></script>
<script>
	var author=getQueryString('author');

	var app=new Vue({
		el:'#app',
		data:{
			zanData:[],
			loading: false,
			finished: false,
			page:1,
			finishedText:''
		},
		created:function(){
			console.log('开始请求数据');

			
		},
		methods:{
			onLoad(){
				axios.get('http://www.duola.vip/note/praise/getMyLikeDiary.do?userId='+author+'&author='+author+'&page='+app.page+'&perPage=5' )
				.then(function (response) {
					console.log(response.data);
					if (response.data.code==200&&response.data.result.length!=0) {
						var reg=/<[^<>]+>/g ;
						var tempData=response.data.result;
						for(let i=0;i<tempData.length;i++){
							var cate="";
							if(tempData[i].cate=="0"){
								cate="生活日记";
							}else if(tempData[i].cate=="1"){
								cate="工作笔记";
							}else if(tempData[i].cate=="2"){
								cate="idea";
							}else if(tempData[i].cate=="3"){
								cate="诗词(文学)";
							}else if(tempData[i].cate=="4"){
								cate="深度好文";
							}
							tempData[i].cate=cate;
							//var reg1=/<(?!img).*?>/g;//保留img标签
							//var reg2=/<\/?((?!img).)*?\/?>/g;
							//var reg3=/<(?!img|p|/p).*?>/g;//保留img、p标签
							var con=tempData[i].content+"";
							con=con.replace(reg, "");
							con=con.replace(new RegExp(":","gm"), "");
							con=con.replace(new RegExp("<","gm"), "");
							con=con.replace(new RegExp("&","gm"), "");
							tempData[i].content=con;
						}
						app.zanData.push(...tempData);
						console.log('页码')
						console.log(app.page)
						app.page++;
						app.loading=false;
						app.finished=false;
					}else{
						app.finished = true;
						app.finishedText='没有更多了，共为你加载出'+app.zanData.length+'篇'
					}
				})
				.catch(function (error) {
					console.log(error);
				})
			}
		}
	})
	function getQueryString(name) {
	        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
	        var r = window.location.search.substr(1).match(reg); 
	        if (r != null) return unescape(r[2]); 
	        return null; 
	    }
</script>
</body>
</html>